.footer {
    height: 250px;
    border-top: 1px solid #1d1d1d2d;
    color: #5c5c5c;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}