.navBar {
    background-color: #333642;
    color: #e0e0e0;
    padding: 1em 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navBar nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.navBar nav a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    color: #e0e0e0;
    text-decoration: none;
}

.navBar nav a:hover {
    color: #838383;
}

.navLogo {
    font-size: 1.2em;
    color: #e0e0e0;
    text-decoration: none;
}

.logoBlog {
    font-weight: bold;
}

.active {
    text-shadow: 0 0 3px #b1b1b1;
}

.signOut {
    color: #e0e0e0;
}